<!DOCTYPE HTML>
<html ng-app="kCalc">
<head>
	<title>Kolob Calculator</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
</head>		
<body ng-controller="mainController">
	<div class='logo'>
	<h2>Interstellar Calculator</h2>
			<select class="pickPlanet" ng-model="pickPlanet">
			<option value="true">Choose Planet</option>
			<option ng-repeat="planet in planets">{{planet.name}}</option>
		</select>
		</div>

		<ng-view></ng-view>
	

<!-- Vendors -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>

<!-- app.js always at the top -->
<script src="js/app.js"></script>
<!-- Controllers -->
<script src="js/controllers/mainController.js"></script>
<script src="js/controllers/marsController.js"></script>
</body>
</html>