<div class="formBackground">
		<h2>Kolob Calculator</h2>
		
		<br />
		<span>Days: <input class="inputBackground" type='text' ng-model="kDay" placeholder="Enter days in Kolob"></span>
		<h4><strong>{{day}}</strong></h4>
		<br />
		<span>Hours: <input class="inputBackground" type='text' ng-model="kDay" placeholder="Enter hours in Kolob"></span>
		<h4><strong>{{hour}}</strong></h4>
		<br />
		<span>Mins: <input class="inputBackground" type='text' ng-model="kDay" placeholder="Enter mins in Kolob"></span>
		<h4><strong>{{min}}</strong></h4>
		<button class="btn default-btn" ng-click='kCalculate()'>Calculate</button>
	
	<br />
	<br />
		<span>How old are you? <input class="inputBackground" type='text' ng-model="yourYears" placeholder="Enter your age"></span>
		<h4><strong>{{life}}</strong></h4>
		<button class="btn default-btn" ng-click='lifeCalc()'>Calculate</button>

	
</div>
